html, body {
  padding: 0;
  margin: 0;
  background: #0b132b;
  font-family: PT Sans Narrow; 
}

#root {
  position: relative;
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: #FFF05A;
  outline: none;
}

.TooltipInfo {
  position:initial;
  background: #13192d;
  color: white;
  height: 210px;
  width:300px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.TooltipInfo h3, .TooltipInfo b {
  color: #FFF05A;
}

.TooltipInfo .details{
  display: flex;
  flex-wrap: wrap;
}

.TooltipInfo div p {
  width: 33%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .TooltipInfo {
    display: none;
  }
}